* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  margin: 0 auto;
  width: 60rem;
  background-color: rgb(237, 235, 235);
  padding: 1rem;
}
.flex-col {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 0.4rem;
}
input,
select {
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
}
input:invalid {
  outline: 2px solid red;
  background-color: rgb(255, 255, 139);
}
.offscreen {
  position: absolute;
  left: -10000px;
}
.col-split {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.nav-flex {
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 1rem;
  margin-right: 1rem;
}
.check {
}
input[type="checkbox"] {
  width: 1rem;
  padding: 0.5rem;
}
.remove-button {
  display: none;
}

.progress-container {
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(237, 235, 235);
  height: 6rem;

  .barmarker-container {
    width: 100%;
    display: flex;
    flex: 1;

    .step {
      place-content: center;
      display: grid;
      width: 100%;

      margin-bottom: 1rem;
      &:not(:last-child) {
        border-right: 2px solid black;
      }
    }
  }
  .progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    -webkit-appearance: none;
    appearance: none;
  }
}
.progress::-webkit-progress-bar {
  background-color: pink;
  border-radius: 1rem;
}
.progress::-webkit-progress-value {
  background-color: limegreen;
  border-radius: 1rem;
}
.progress::after {
  content: attr(value) "%";
  position: absolute;
  left: 50%;
  top: 5rem;
}
